# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env/
.venv/
.pytest_cache/

# Node.js
node_modules/
package-lock.json
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
.gemini/
